*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    text-align: center;
    background: url("https://b.zmtcdn.com/data/pictures/chains/1/49781/32b17daab99d36aeb14554d9ecbbd253.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height:80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
    font-size: 20px;

}

header h1{
    font-size: 60px;
    font-weight: 800;
    color:white;
    z-index: 2;
}
header section{
    height:80vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.505);
    position: absolute;
    z-index: 0;
}
header p ,header button{
    z-index: 2;
}

button{
    padding:10px 20px;
    border:none;
    background-color: rgb(178, 5, 5);
    margin:20px;
    color:white;
    border-radius: 6px;
}

button:hover{
    color:rgb(178, 5, 5);
    border:2px solid rgb(178, 5, 5);
    background: transparent;
}
.order_id{
    position: fixed;
    top:20px;
    right:20px;
    color:red;
}

